body {
    margin: 0;
    padding: 0;
    background-color: #F1F1F1;
    font-family: 'Press Start 2P', cursive;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background: #FFF;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 12px; /* Rounded corners for the whole container */
    text-align: center;
}

.timezones-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.timezone {
    padding: 8px;
    border-radius: 8px;
    color: #FFF;
    font-size: 14px;
    text-align: center;
}

.timezone:nth-child(1) { background-color: #C6878F; }
.timezone:nth-child(2) { background-color: #B79D94; }
.timezone:nth-child(3) { background-color: #969696; }
.timezone:nth-child(4) { background-color: #67697C; }

}
.notepad-todo-container {
    margin-top: 20px;
    padding: 20px;
    background-color: #F9F9F9;
    border-radius: 12px; /* Rounded corners */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.notepad-container, .todo-container {
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    background-color: #F9F9F9;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 10px;
    border: 1px solid #CCC;
    border-radius: 8px; /* Rounded text area */
    font-size: 14px;
    resize: none;
    background-color: #FFF;
}

/* Button Styles */
button {
    background-color: #253D5B;
    color: #FFF;
    border: none;
    border-radius: 8px;
    margin: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 14px;
    font-family: 'Press Start 2P', cursive;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #253D5B;
}

button:focus {
    outline: none;
}

/* Task List Styles */
ul {
    list-style: none;
    padding: 0;
}

#todo-list li {
    background: #E0E0E0;
    margin-bottom: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
}

#todo-list li .delete-task {
    background-color: #C6878F;
    color: #FFF;
    border: none;
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
}

#todo-list li .delete-task:hover {
    background-color: #C2185B;
}

#todo-list li.completed {
    text-decoration: line-through; /* Cross out completed tasks */
    color: #777;
}

.footer {
    margin-top: 20px;
    text-align: center;
    font-size: 12px;
    color: #777;
}

footer .name {
    font-size: 16px;
    font-weight: bold;
}
